main {
  height: 100vh;
  padding-top: 80px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-columns: min-content;
  gap: 2.5rem 1rem;

  justify-items: center;
  align-items: center;
}

@media (max-width: 929px) {
  section {
    padding: 0;
    padding-top: 1.75rem;
  }
}